:root {
    /* 'Helvetica' meant to refer to the Chicago95 Pixel-Microsoft-Sans typeface */
    /* Remove it if you have Adobe Helvetica. */
    --font-sans: Helvetica, 'MS Sans Serif', sans-serif;
    --font-mono: 'Lucida Console', 'Courier New', monospace;

    --native-titlebar-height: calc(18px + 2px);
    --spacing-3: 2px;
}

* { border-radius: 0px !important; }

body, .NativeTitlebar\.module__titlebar___ZWZkOD {
    border: solid 2px var(--bg-secondary);
    border-color: var(--bg-primary) var(--bg-secondary) var(--bg-secondary) var(--bg-primary);
}

/* titlebar  */
.NativeTitlebar\.module__titlebar___ZWZkOD {
    border-bottom-style: none;
    background: linear-gradient(to right, #08256b, #a5cef7);
}

.NativeTitlebar\.module__controls___ZWZkOD {
    gap: 1px;
}

.NativeTitlebar\.module__left___ZWZkOD svg {
    height: 10px;
    left: -2px;
    position: relative;
}

.NativeTitlebar\.module__left___ZWZkOD::before {
    content: url('https://fluxerstatic.com/web/favicon-16x16.png');
    left: 2px;
    top: 2px;
    position: relative;
}

[type="button"]:not([role="radio"]):active {
    border-style: inset;
}

.NativeTitlebar\.module__controls___ZWZkOD button {
    background: var(--bg-secondary);
}

.NativeTitlebar\.module__wordmark___ZWZkOD {
    color: white;
}

.NativeTitlebar\.module__left___ZWZkOD {
    opacity: 1;
}

.NativeTitlebar\.module__controlButton___ZWZkOD {
    width: 16px;
    height: 14px;
    border: 2px outset var(--bg-secondary);
    position: relative;
    cursor: default;
}

.NativeTitlebar\.module__controlButton___ZWZkOD svg {
    height: 10px;
    left: -3px;
    position: absolute;
    visibility: hidden;
}

.NativeTitlebar\.module__controlButton___ZWZkOD[aria-label="Minimize window"]::before {
    font-family: Marlett;
    font-size: 12px;
    position: relative;
    top: -4px;
    content: "0";
}

.NativeTitlebar\.module__controlButton___ZWZkOD[aria-label="Maximize window"]::before {
    font-family: Marlett;
    font-size: 12px;
    position: relative;
    top: -4px;
    content: "1";
}

.NativeTitlebar\.module__controlButton___ZWZkOD[aria-label="Restore window"]::before {
    font-family: Marlett;
    font-size: 12px;
    position: relative;
    top: -4px;
    content: "2";
}


.NativeTitlebar\.module__controlButton___ZWZkOD[aria-label="Close window"]::before {
    font-family: Marlett;
    font-size: 12px;
    position: relative;
    top: -4px;
    content: "r";
}

/* file attachment icon */

.AttachmentFile\.module__iconContainer___XzUxYj::before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IB2cksfwAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAX5JREFUaN7tmG0OgyAMhovxXnozys30ZN2PyaYbOlpmKQkkJgY/8j7Q9rU6SAxEJKgwENFxnxnPLnjvVcWHEAAACABYEAMYGogYIdoEmOeZDWEKYJomNoQpAAmEOQAuhEkADoRZgFwI0wA5EKMlsc6xjdjODnjvgYhOj2VZoMkQarKM/uVjTju+icgmQG5ixvu4IMOdoiVVhfvM8I+X7wWf3YNbET+sb5zACknMWWUCgMv2yHO7AGEOxPi8Ei1NRvUd2AuN5685QezrACQqBRG9BTunKr6sCu1F5zTtW7d+uDtOBC0jywmRRA78RER5JZLvwF5oPM9I8qoh9BL2IT7HB1JOQPQ80LoP/HIC75OR131A7AOalZSZA2nxFW2gJAe4pvvtBBE4BCWAXBv4TgN3WegR5TtXkAOnNqDqAyMvbNz2l+AoPs5L28YSYJ1+YPs1Ir1ezQe4oiQQ9/QD1stoySrb6QeMjA7QATpAB+gA93zMrevaBIC76MKb0PwAd4vY/47xOtAAAAAASUVORK5CYII=");
    height: 48px;
}

.AttachmentFile\.module__iconContainer___XzUxYj svg {
    visibility: hidden;
}
