@import "common";

.ScrollerTrack\.module__track___YzkyYz {
  background: var(--bg-tertiary);
  width: 12px;
  .ScrollerTrack\.module__thumb___YzkyYz {
    width: 100% !important;
    left: 0;
    background: var(--bg-secondary);
    .COMMON_BORDER_OUT();
    &:active {
      .COMMON_BORDER_IN();
    }
  }
}
