:root {
  /* 'Helvetica' meant to refer to the Chicago95 Pixel-Microsoft-Sans typeface */
  --font-sans: Helvetica, "MS Sans Serif", sans-serif;
  --font-mono: "Lucida Console", "Courier New", monospace;

  --native-titlebar-height: calc(18px + 2px);
  --spacing-3: 2px;
  --panel-control-bg: var(--bg-secondary);
  --scrollbar-thumb-bg: var(--bg-secondary);
  --layout-guild-list-width: 64px;
  --layout-header-height: 48px;
}

.GuildHeader\.module__headerContainer___ZGNlOD {
  height: var(--layout-header-height) !important;
}

@import "common.less";
@import "chat";
@import "file_attachment";
@import "guild_icons";
@import "media_buttons";
@import "media_modal";
@import "modal";
@import "settings";
@import "titlebar";
@import "user_area";
@import "widgets";
@import "avatar";
@import "scrollbar";
