@import "common.less";

.CB_REPLACE_SVG(@file_path) {
  .REPLACE_SVG(@file_path, 16, 16);
  &::before {
    position: relative;
    top: 2px;
  }
}

.UserArea\.module__controlsContainer___XzEyMT {
  .UserArea\.module__controlButton___XzEyMT {
    .COMMON_BORDER_OUT();
    position: relative;

    &:active {
      .COMMON_BORDER_IN();
    }

    &[aria-label="Deafen"] {
      .CB_REPLACE_SVG("graphics/mmsys_speaker.png");
    }

    &[aria-label="Undeafen"] {
      .CB_REPLACE_SVG("graphics/mmsys_speaker_mute.png");
    }

    &[aria-label="Mute"] {
      .CB_REPLACE_SVG("graphics/98mic.png");
    }
    &[aria-label="Unmute"] {
      .CB_REPLACE_SVG("graphics/98mic_mute.png");
    }

    // User Settings
    &:not([aria-label]) {
      .CB_REPLACE_SVG("graphics/w2k_settings.png");
    }
  }
}
