@import "common.less";

.Input\.module__input___ZGQ3MT {
  padding: 3px 4px;
  .COMMON_BORDER_IN();
  background: var(--bg-primary) !important;

  &.Input\.module__minHeight___ZGQ3MT {
    min-height: 22px;
  }

  &:focus {
    .COMMON_BORDER_IN() !important;
  }
}

.Input\.module__textareaWrapper___ZGQ3MT {
  .COMMON_BORDER_IN();
  background: var(--bg-primary) !important;

  &.Input\.module__minHeight___ZGQ3MT {
    min-height: 22px;
  }

  &:focus {
    .COMMON_BORDER_IN() !important;
  }

  .BioEditor\.module__emojiButton___XzMxOW {
    width: 20px;
    height: 20px;
    .COMMON_BORDER_OUT();
    .REPLACE_SVG("graphics/inmine_smile_16.png", 16, 16);
    &::before {
      position: relative;
      top: 3px;
    }
  }

  .Input\.module__textarea___ZGQ3MT {
    padding: 3px 4px;
  }
}

.ColorPickerField\.module__inputWrapper___XzAyOD {
  .COMMON_BORDER_IN();
  height: 22px;
  position: relative;

  .ColorPickerField\.module__input___XzAyOD {
    padding: 3px 4px;
    font-size: 13px;
  }

  .ColorPickerField\.module__swatchButton___XzAyOD {
    &:active {
      border: none;
    }
    .REPLACE_SVG("graphics/spaint_dropper.png", 16, 16);
    &::before {
      position: relative;
      top: 2px;
    }
  }

  .FOCUS_WITHIN_OUTLINE();
}

.Button\.module__button___Yzg1Yz {
  .COMMON_BORDER_OUT();
  min-width: 75px;
  max-height: 23px;
  &.Button\.module__secondary___Yzg1Yz {
    background-color: var(--bg-secondary) !important;
  }
  &:active {
    .COMMON_BORDER_IN();
    top: 1px;
    left: 1px;
  }
}

* {
  border-radius: 0px !important;
}
